/* COLOR CODES */
:root {
  --logo-pinkishred: #fa556e;
  --logo-yellow: #ffde6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "Aloja";
  src: url("media/fonts/Aloja-Light.woff") format('truetype');
  src: url("media/fonts/Aloja-Light.otf") format('truetype');
} */
/*Have a Nice Day!!! :)*/

body {
  height: 1000vh;
  font-family: Aloja;
  display: flex;
}
.navdiv {
  /* height: 100vh; */
  /* border: 2px black solid; */
  position: fixed;
  background-color: #fa556e;
}

.navbar {
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: space-between;
  /* align-items: center; */
}

.navbar .navbuttons {
  list-style-type: none;
}
.navbar .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 35vh;
  /* justify-content: center; */
}

.navbar .row1 {
  margin: 3em 0em;
}
.navbar .row1 img {
  width: 250px;
}

.navbar .row2 button {
  background-color: #ffde6b;
  color: #fa556e;
  border: none;
  clip-path: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}


.navbar .row2 button:hover {
    font-size: 1.2em;
    transition: 0.2s ease-in-out;
    


}

.navbar .row3 a {
  text-decoration: none;
  color: #ffde6b;
  padding: 1em 0.5em;
  margin: 0em 0.5em;
  border: 2px #ffde6b solid;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}
.navbar .row3 a:hover {
    color: #fa556e;
    background-color: #ffde6b;
    transition: 0.2s ease-in-out;
  font-size: 1.3em;
  /* padding: 0em; */
}


.content-area{
    /* margin-right: 0; */
    position: absolute;
    right: 0;
    width: 80vw;
}
.heropage {
  height: 100vh;
  border: 2px #fa556e solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatnwhy {
    height: 100vh;
    border: 2px #fa556e solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.okhow {
    height: 100vh;
    
    border: 2px #fa556e solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
